.nov {
    float: left;
    width: 400px;
}

.nov p {
    text-align: center;
} 

.linha {
    margin: 20px;
    padding: 46px ;
    display: inline-block;


}
.linha2 {
    display: inline-block;
     margin: 20px;
    padding: 46px ;
}

