.cardImg img {
    width: 75px;
    float: left;
}

.cardImg { 
    margin-top: 20px;
    font-size: 25px;
}
.text {
    font-size: 22px;
    font-weight: normal;
    color: rgb(59, 1, 1);
    margin-bottom: 0px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.linha {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 70px;
    background-color: #fefe65;
    border: solid 2px #fce301;
    border-radius: 10px;
    width: 1250px;
    height: 450px;
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.959);
}

.nov {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    text-align: center;
    font-size: 24px;
}

.linha p,
a,
.linham p,
a,
.linhab a,
p {
    text-decoration: none;
    color: black;
    margin-right: -25px;
}

.linhaM {
    margin: 80px;
    background-color: #e1ff60;
    padding: 40px;
    font-size: 24px;
    border: solid 2px #72a300;
    border-radius: 10px;
    width: 1150px;
    height: 900px;
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.959);
    text-align: center;
    font-size: 25px;
    font-weight: normal;

}

.novM img {
    width: 340px;

}

.novM {
    display: inline-block;
    margin-left: 0px;
    margin-top: 70px;
    padding: 0px;
}

.novM p {
    text-align: center;
}

.novMi img {
    width: 300px;

}

.novMi {
    display: inline-block;
    text-align: center;
    margin-left: 50px;
}


.linhaB {
    margin: 60px;
    background-color: #ffb158;
    padding: 0px;
    font-size: 24px;
    border: solid 2px #ff771e;
    border-radius: 10px;
    width: 1150px;
    box-shadow: 0 30px 70px rgba(0, 0, 0, 0.959);
    height: 900px;
}

.novB img {
    width: 302px;
}

.novB {
    display: inline-block;
    margin: 25px;
    text-align: center;
}

.novBi img {
    width: 220px;
    margin-left: 60px;
}

.novBi {
    display: inline-block;
    margin-left: 32px;
}

.novBii img {
    width: 220px;
}

.novBii {
    display: inline-block;
    margin-left: 55px;
    padding: 0px;
    text-align: center;
}

.novBiii img {
    width: 220px;
    margin-left: 60px;
}

.novBiii {
    display: inline-block;
    margin-left: 60px;
}
