


  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
        position: relative;

}

section .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.login{
    position: relative;
    padding: 20px 30px;
    background: rgba(255, 255, 255, 0.075);
    border: 1px solid #fff;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    border-right: 1px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    width: 380px;
    height: 550px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 300px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.1);
}

.login p {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    margin-bottom: 10px;
    margin-top: 10px;
}
.card  {
    width: 70px;
    height: 70px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.623);
    border-radius: 50%;
    background-color: #ec5f00;
    margin-left: 38%;
  }

.login .inputBox input{
    width: 100%;
    padding: 10px 10px;
    outline: none;
    font-size: 1em ;
    color: #cf4200;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}
.login .inputBox input ::placeholder{
    color: #8f2c24;
}

.login .inputBox textarea{
    width: 100%;
    padding: 10px 10px;
    outline: none;
    font-size: 1em ;
    color: #cf4200;
    border-radius: 5px;
    border: none;
    margin-bottom: 22px;
}
.login .inputBox textarea ::placeholder{
    color: #8f2c24;
}

.login button {
    border: none;
    outline: none;
    background: #ec5f00;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: 0.5s;
    
}
  button {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    font-size: 1em ;
    color: #cf4200;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
    outline: none;
    background: #ec5f00;
    color: #fff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: 500;
    transition: 0.5s;

  }  
.login button:hover {
    background: #d64c42;
    
}

label {
    color: whitesmoke;
     font-size: 15px;
}


.topnav {
    overflow: hidden;
    background-color:#ff771e;
    text-align: center;
    position: sticky;
}

.topnav a {
    display: inline-block;
    color: whitesmoke;
    padding: 12px 26px;
    text-decoration: none;
    text-align: right;
    font-size: 16pt;
}

.topnav a:hover {
    background-color:rgb(255, 72, 0);
    color: rgb(253, 253, 253);
    border-bottom: solid 2px #ffff98;
    border-radius: 11px;
}

.footer {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    background-color:  rgb(236, 41, 41);
}

.footer a, .footer p {
    color: aliceblue;
}
