@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body {
    background-image: url("../imagem/bg.jpg");
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página rola */
}

.cabecalho {
    padding: 80px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #da0202;
}

.cabecalho h1 {
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    font-family: cursive;
}

.logo img {
    float: left;
    width: 180px;
    margin: -50px -120px 0 0px;

}

.topnav {
    overflow: hidden;
    background-color: #ff771e;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;

}

.topnav a {
    display: inline-block;
    color: whitesmoke;
    padding: 12px 26px;
    text-decoration: none;
    text-align: right;
    font-size: 16pt;
}

.topnav a:hover {
    background-color: rgb(255, 72, 0);
    color: rgb(253, 253, 253);
    border-bottom: solid 2px #ffff98;
    border-radius: 11px;
}

/* Estilos para a seção principal */
.principal {
    padding-bottom: 200px;
    text-align: center;
    margin-top: 50px;
}

.principal p {
    font-size: 22px;
}

.principal h1 {
    padding: 20px;
    font-size: 50px;
    font-weight: normal;
    text-align: left;
}

.newImg img {
    width: 150px;
    float: left;
}

/* CSS personalizado para adicionar o estilo de fundo ao carrossel */
.carousel-inner {
    width: 1100px;
    height: 600px;
    margin: 0 auto;
    background-color: #fc500059;
    border-radius: 20px;
    border: solid 2px #ffffff;
    text-align: center;
}

.carousel-caption a {
    text-decoration: none;
}
/* Estilos para a seção de boas-vindas */
.welcomePag {
    background-color: darkorange;
    padding: 45px 45px 60px;
    margin: 0;
    text-align: center;
}

.welcomePag h1 {
    background-color: rgba(255, 209, 5, 0.808);
    font-size: 48px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.content {
    display: flex;
    align-items: flex-start;
}

.content img {
    margin: -9px 0 0 -1px;
    max-width: 120px;
    height: auto;
}

.content h2 {
    margin-top: 30px;
}

.welcomePag .HambW {
    width: 50%;
    display: block;
    margin: 0 auto;
}

.welcomePag p {
    font-size: 25px;
    margin-top: 40px;
}

/* Estilos para o rodapé */
.footer {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    clear: both;
    background-color: rgb(236, 41, 41);
}

.footer ul,
a {
    color: aliceblue;
    list-style: none;

}