
body {

    /*background-image: url(/imagem/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
    font-family: cursive;
    background-color: khaki;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}

.cabecalho {
    padding: 30px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    background-color: crimson;
}

.cabecalho h1 {
    font-size: 50px;
    font-weight: normal;
}

.topnav {
    overflow: hidden;
    background-color:rgb(255, 153, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    position: sticky;
    top: 0;
}

.topnav a {
    display: inline-block;
    color: whitesmoke;
    padding: 12px 26px;
    text-decoration: none;
    text-align: right;
    font-size: 14pt;
}

.topnav a:hover {
    background-color:burlywood;
    color: rgb(253, 253, 253);
    border-bottom: solid 2px rgb(255, 255, 255);
    border-radius: 11px;
}

.principal {
    width: 1028px;
    margin: 0 auto;
    text-align: left;
}

.nov {
    float: left;
    width: 00px;
    
}
.nov p {
    text-align: center;
}


.nov img {
    width: 500px;
    padding: 20px;

}

.linha{
    margin-bottom: 20px;
    background-color: rgb(253, 144, 1);
    background-color: khaki;

 
}

.principal h1 {
 font-size: 45px;
 font-weight: normal;
}

.op img {
    float: left;
    width: 150px;
}
.imagem {
    width: 100%;
    padding: 20px;
}
.footer {
    padding: 20px;
    text-align: center;
    background-color:  rgb(238, 108, 68);
    margin-top: 20px;
}
 .welcome {
    background-color:darkorange;
    padding: 60px;
    margin: 0px;


 }

 .welcome h1 {
 background-color: rgba(255, 209, 5, 0.808);
 text-align: center;


 }

 .hpp img {
    width: 25%;
    padding: 20px;
 }

 