
body {

    /*background-image: url(/imagem/fundo.jpg);
    background-repeat: no-repeat;*/
    background-size: cover;
    font-family: cursive;
    background-color: khaki;
    padding: 0px;
    margin: 0px;
    font-weight: normal;
}

.cabecalho {
    padding: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    background-color: crimson;
}

.cabecalho h1 {
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color:rgb(255, 153, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    position: sticky;
    top: 0;
}

.topnav a {
    display: inline-block;
    color: whitesmoke;
    padding: 12px 26px;
    text-decoration: none;
    text-align: right;
    font-size: 14pt;
}

.topnav a:hover {
    background-color:burlywood;
    color: rgb(253, 253, 253);
    border-bottom: solid 2px rgb(255, 255, 255);
    border-radius: 11px;
}

.nov {
    float: left;
}

.nov img {
   width: 460px;
}

.principal {
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.linha {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: burlywood;
}

.principal h1 {
    padding: 40px;
 font-size: 50px;
 font-weight: normal;
 text-align: left;
}
.novo img {
    width: 150px;
    float:left;
}

.logo img {
    float: left;
    width: 150px;
}
.imagem {
    width: 100%;
    padding: 20px;
}
.footer {
    padding: 20px;
    text-align: center;
    background-color:  rgb(238, 108, 68);
    margin-top: 20px;
}
 .paginat {
    background-color:darkorange;
    padding: 60px;
    margin: 0px;

 }

 .welcome h1 {
 background-color: rgba(255, 209, 5, 0.808);
 text-align: center;

 }

 .pag2 img {
    width: 25%;
    padding: 20px;
 }

 