@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.promocao img {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.heartGif img {
    width: 60px;
}

.principalP {
    padding-bottom: 80px;
    background: #ffb81e;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.658);
    margin-bottom: 10%;
}

body h1 {
    font-size: 50px;
    text-align: center;
}

body h2 {
    margin-left: 30px;
    font-weight: normal;
    font-size: 25px;
    text-align: center;
}

.ingredientes {

    font-size: 30px;
    text-align: center;

}

