


  @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

body .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.topnav{
    background-color: #ff771e;  /*  cor de fundo */
    overflow: hidden;             /* deixar invisivel o que esta fora */
    border-bottom-left-radius: 10px ;  /* bottom: inferior, left: direita, radius: arredondar */
    border-bottom-right-radius: 10px;  /* bottom: inferior, right: esquerda, radius: arredondar */
    text-align: center;  /* para centralizar o texto */
    position:sticky; /* fixar a barra de navegação durante a rolagem no topo */
    top:0; /* fixar a barra de navegação durante a rolagem no topo */

}

.topnav a{   /*modificar especificadamente os textos*/
    color:whitesmoke; /* mudar a cor do texto*/
    text-decoration: none; /* tirar o sublinhado */
font-size: 16pt;
padding: 12px 16px; /* largura */
display: inline-block; /* alinhar os textos */
text-align: right;  /*alinhar no lado esquerdo*/

}

.topnav a:hover{ /* chamando a classe topnav para mudar os elementos*/
background-color: rgb(255,72,0);
border-bottom: solid 2px #ffff98; /* bordinha na parte de baixo nas barras de navegação*/
border-radius: 11px; /*arrendodar as bordas*/
}

.info{
    float: left ;
   font-size: 35px;
   
}


.principal{
    font-size: 30px;
    padding-bottom: 200px;
}

.principal img{
    float: left;
    margin-left: 40px;
}

.info img{
    width: 163px;
    height: 170px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.623);
    border-radius: 10%;
    background-color: #ec5f00;
    bottom: 0;
    left: 20%;
    bottom: 20px;
}


.info{
    text-align: left;
    padding: 50px;
    background:#ffcc41;
    backdrop-filter: blur(15px);
    border: 1px solid #da4003;
    border-radius: 20px;
    width: 500px;
    height: 700px;
  
    box-shadow: 0 25px 50px rgba(0,0,0,0.1);
}

.info p{
    margin-top: 40px;
    font-size: 22px;

}
.txt {
    margin: 50px;
}

.linha{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.footer {
    padding: 20px;
    text-align: center;
    font-size: 18px;
    background-color:  rgb(236, 41, 41);
}

.footer a, .footer p {
    color: aliceblue;
}

