/* Estilos para a seção principal */
.principalQ {
    margin-top: 50px;
    text-align: center;
}

.principalQ p {
    font-size: 22px;
    margin-top: 0;
}

.principalQ h1 {
    padding: 20px;
    font-size: 50px;
    font-weight: normal;
    text-align: left;
}

/* Estilos para a classe container que envolve as caixas .info */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(247, 82, 6, 0.296);
    padding: 20px;
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ffffff;
    margin-bottom: 15%;
}

.header-content {
    display: flex; 
    align-items: center; 
    margin-top: -40px;

}

.header-content img {
    max-width: 160px; 
    height: auto;
    margin-right: 20px; 
}

.info-container {
    display: flex;
    justify-content: center;
}

.info {
    text-align: left;
    padding: 20px;
    border: 1px solid #f54702;
    border-radius: 20px;
    width: 40%;
    margin-right: 100px;
    text-align: center;
    margin-top: 20px;
}

.info:last-child {
    margin-right: 0; 
}

.info img {
    width: 40%;
    height: auto;
    display: block; 
    margin: 0 auto; 
    border-radius: 10%; 
}

.info p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: black;
}
