.nov {
    float: left;
    width: 400px;
}

.nov p {
    text-align: center;
} 

.linha {
    float: center;
    margin: 20px;
    padding: 46px ;

}
.linha2 {
    float: center;
     margin: 20px;
    padding: 46px ;
}

